* {
    padding: 0px;
    margin: 0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-sizing: border-box;
    color: white;
}
body{
    background: black;
}
.hidescrollbar::-webkit-scrollbar {
    display: none;
}
main{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.imagdiv{
    width: 100%;
    height: 100vh;
}
.imagdiv img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.signupcon{
    width: 27%;
    position: absolute;
    top: 110px;
    background: black;
    opacity: 0.7;
    height: auto;
    padding: 20px 10px;
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    color: white;
}
.header p:nth-child(2){
    font-size: 19px;
    font-weight: 600;
    font-family: 'Times New Roman', Times, serif;
}
.header p:nth-child(3){
    font-size: 14px;
    color: white;
}

.logoimg{
    width: 90px;
    height: 90px;
    border-radius: 8px;

}
.logoimg img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 8px;

}
form{
    width: 100%;
    display: flex;
    flex-direction: column;
    color: white;
}
form input::placeholder{
    color: white;
}
.formdiv{
    display: flex;
    flex-direction: column;
    gap: 18px;
    width: 100%;
    color: white;
}
.signup .formdiv input{
    margin-block: 16px;
    flex: 1;
    border-radius: 12vmax;
    padding: 15px 10px;
    outline: none;
    border: 2px solid rgba(0, 0, 0, 0.281);
    color: white;
    border: 1px solid  white;
    background: black;

}


.formdiv input{
    margin-block: 16px;
    flex: 1;
    border-radius: 12vmax;
    padding: 15px 10px;
    outline: none;
    border: 2px solid rgba(0, 0, 0, 0.281);
    color: white;
    border: 1px solid  white;
    background: black;


}
#Login_btn{
    width: 100%;
    background: black;
    padding: 15px 10px;
    border-radius: 12vmax;
    border: 2px solid white;
    font-size: 18px;
    color: white;
    cursor: pointer;
}

.Login_btn{
    width: 100%;
    background: black;
    padding: 15px 10px;
    border-radius: 12vmax;
    border: 2px solid white;
    font-size: 18px;
    color: white;
    cursor: pointer;
}

.error-message{
    color: black;
    padding: 2px;
    border-radius: 0 0 5px 5px;
    font-size: 17px;
    background: red;
    display: none;
}

.signup_section{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin-top: 10px;
    gap: 12px;

}
.signup_section_sub{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
}
.signup_section_sub hr{
    width: 80%;
    height: 3px;
    background: white;
}
.signup_section a{
    text-decoration: none;
    font-size: 15pxpx;
    width: 320px;

    text-align: center;
}

@media (max-width:600px) {
    .signupcon{
        top: 0;
        padding: 10x;
        width: 100%;
        height: 100%;
        padding: 10px;
        
    }
    .logoimg{
        width: 40px;
        height: 40px;
    }
    form{
        gap: 14px;
    }
    .header p:nth-child(2){
        font-size: 15px;
    }
    .header p:nth-child(3){
        font-size: 12px;
    }
    #loginForm{
        margin-top: 70px;
    }
    #loginForm .formdiv input{
    
        margin-block: 8px;
        flex: 1;
        border-radius: 10vmax;
        padding: 15px 10px;
        outline: none;
        color: white;
        border: 1px solid  white;
        background: rgba(0, 0, 0, 0.685);
    
    }
    #loginForm .formdiv input::placeholder{
        color: white;
    }
    
    #Login_btn{
        width: 100%;
        background: black;
        padding: 15px 10px;
        border-radius: 12vmax;
        border: 2px solid white;
        font-size: 18px;
        color: white;
        cursor: pointer;
    }
    
}