* {
    padding: 0px;
    margin: 0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-sizing: border-box;
}

.hidescrollbar::-webkit-scrollbar {
    display: none;
}

body {
    background: rgba(128, 128, 128, 0.24);
}

/* main contatiner */
.mainContainer {
    margin: 5px 5px;
    border-radius: 10px;
    height: 100vh;
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 70px 1fr;
    grid-template-areas:
        "nav nav"
        "side main"
    ;

    gap: 10px;
}

/* nav bar */
.navBar {
    padding: 5px;
    grid-area: nav;
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 3px 2px 8px black;
}

#search {
    flex: 1;
    margin-inline: 20px;
    height: 50px;
    outline: none;
    color: black;
    background: white;
    padding: 5px;
    border-radius: 10px;
    font-size: 15px;
    border: 1px solid black;
}

.logoDIv {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: black;
    border-radius: 100vmax;

}

.Logoimg {
    width: 70px;
    height: 70px;
    padding: 1px;

}

.Logoimg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 100vmax;
}
.showsearch{
    width: fit-content;
    height: auto;
    text-align: start;
    padding: 10px;
    background: white;
    box-shadow: 2px 2px 5px black;
    border-radius: 4px;
    position: absolute;
    top: 85px;
    right: 600px;
    display: none;
}

.leftSection {
    grid-area: side;
    background: white;
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 70px;
}

.leftmain {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    width: 100%;
}

.logoutbtn {
    width: 100%;
}

.logout {
    cursor: pointer;
    width: 100%;
    font-size: 17px;
    padding: 20px;

}

.leftmain p {
    width: fit-content;
    width: 100%;
    padding: 10px;
    cursor: pointer;
    transition: .2s ease;

}

.leftmain p a {
    color: black;
    text-decoration: none;
    width: 100%;
    padding: 5px;
}

.logout:hover {
    scale: 1.001;
    background: rgba(128, 128, 128, 0.26);
    border-right: 2px solid black;
}

.leftmain p:hover {
    scale: 1.001;
    background: rgba(128, 128, 128, 0.26);
    border-right: 2px solid black;
}

.main {
    margin-top: 5px;
    grid-area: main;
    height: calc(100vh - 70px);
    overflow-y: auto;
    background: white;
    padding: 5px;
}

/* THE FORM STYLING */

.formDiv {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 10px;
    width: 100%;
    background: white;
}

form input {
    width: 100%;
    padding: 12px 10px;
    font-size: 16px;
    color: black;
    border: 1px solid rgba(0, 0, 0, 0.623);
    border-radius: 8px;
    background: rgba(128, 128, 128, 0.089);


}
.Gender select{
    width: 100%;
    padding: 12px 10px;
    font-size: 16px;
    color: black;
    border: 1px solid rgba(0, 0, 0, 0.623);
    border-radius: 8px;
    background: rgba(128, 128, 128, 0.089);
}

form div label {
    color: black;
    font-size: 16px;
    border-radius: 0 8px 0 0;
    width: fit-content;
    padding: 2px;
}

form div {
    padding: 4px;
    width: 50%;
}

.all {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.submit {
    width: fit-content;
}

.submit button {
    width: 100%;
    color: white;
    background: black;
    padding: 15px 20px;
    cursor: pointer;
    border: none;
    border-radius: 8px;
    transition: .2s ease;
    box-shadow: 2px 2px 5px gray;

}

.submit:hover button {
    scale: 1.08;
}


/* SEARCHED  */



/* ATTENDANCE LIST FOR THAT DAY */
.currnetInput {
    display: flex;
    flex-direction: column;
    padding: 5px;
    gap: 10px;
}

.currnetHead {
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    padding: 5px;
    font-family: 'Times New Roman', Times, serif;
    font-style: oblique;
    font-size: 17px;
}

.currentDetails {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.Eachuser {
    background: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    text-align: center;
}

.currentattandance {
    margin-top: 10px;
}


/* SEARCH BY FILTER STYLE */
.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
    width: 100%;
    max-width: 1200px;
    margin: auto;
}

.grid-item {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    height: 250px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 30px;
    text-align: center;

    transition: transform 0.3s, box-shadow 0.3s;
}

.btn {
    padding: 10px;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    border: none;
    background: black;
    transition: .2s ease;
}

.btn:hover {
    scale: 1.09;

}

.grid-item:hover {
    /* transform: translateY(-10px); */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);


}
/* error */
.err{
    display: none;
    width: 100%;
    background: red;
    font-size: 14px;
}

/* MONTHLY REPORT */

.Report{
    width: 80%;
    cursor: pointer;
}
.choose {
   display: flex;
   width: 100%;
   justify-content: space-between;
   border: 1px solid black;
   padding: 15px;
}
.sub-report {
    display: flex;
    flex-direction: column;
    display: none;
    margin-top: 8px;
    gap: 10px;
    border: 1px solid black;
    box-shadow: 2px 2px 8px black;
    padding: 8px;
    font-size: 17px;
    transition: .3s ease;
}
.active{
    display: block;
    transition: .3s ease;

}
.report{
    padding: 10px;
    display: flex;
    flex-direction: column;
}
.report input{
    padding: 4px;
}


.container {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* padding: 10px; */

    width: 100%;
    max-width: 1200px;
    margin: 20px;
}

.container h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.table-container {
    width: 100%;
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

thead {
    background-color: #f9f9f9;
}

th, td {
    padding: 12px 15px;
    text-align: left;
    border: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
}
/* total number of attendant for the day */
.totalFortheday{
    /* border: 1px solid black; */
    padding: 5px;
    box-shadow: 2px 2px 8px  black;
    border-radius: 8px;
}
.totalFortheday span{
    padding-left: 15px;
    font-size: 18px;
}
tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

@media screen and (max-width: 768px) {
    th, td {
        padding: 8px;
    }
}

@media screen and (max-width: 480px) {
    th, td {
        padding: 6px;
    }
}




@media (max-width: 992px) {
    .grid-container {
        grid-template-columns: repeat(3, 1fr);
    }
    
}

@media (max-width: 768px) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr);
    }
    .showsearch{
        right: 300px;
    }
    .Report{
        width: 100%;
    }

}

@media (max-width: 576px) {
    .grid-container {
        grid-template-columns: 1fr;
        margin-bottom: 70px;

    }
    .showsearch{
        top: 70px;
        right: 100px;
    }
}

/* END OF THE SEARCH BY FILTER STYLE */


/* MESSAGE STYLEING */

.container {
    background: #fff;
    margin: 10px auto 70px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 300px;
    text-align: center;
    width: 95%;
}
.container h1 {
    margin-bottom: 20px;
    color: #333;
}

textarea {
    width: 100%;
    height: 100px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
    font-size: 16px;
}

button {
    background-color: black;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

       


@media (max-width: 800px) {
    .mainContainer {
        margin: 2px;
        grid-template-columns: 1fr;
        grid-template-areas:
            "nav"
            "main";
        gap: 5px;
    }

    .navBar {
        grid-area: nav;
    }

    .main {
        grid-area: main;

    }

    /* SIDE BAR CONTENT */

    .leftSection {
        padding-inline: 5px;
        position: fixed;
        bottom: 0px;
        right: 0px;
        width: 100%;
        display: flex;
        flex-direction: row;
        height: fit-content;
        box-shadow: -2px -2px 8px black;
        gap: 5px;
        border-radius: 0px;
        padding: 10px;

    }

    .leftmain {
        display: flex;
        flex-direction: row;
        gap: 10px;
    }

    .logoutbtn span {
        display: none;

    }

    .leftmain span {
        padding: 10px;
        display: none;
    }

    .logoutbtn {
        width: fit-content;
    }

    .logout {
        font-size: 15px;
        padding: 10px;
    }

    .logout:hover {
        border: none;
    }

    .leftmain p:hover {
        border: 0px;
    }

    /* form style */
    .formDiv {
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: start;
    }

    form div {
        width: 100%;
    }

    .currentDetails {
        gap: 2px;

    }


    .currnetInput {
        z-index: 99;
        margin-bottom: 80px;

    }

}

@media (max-width: 500px) {

    /* ALL THE NAV CONTENT */
    .navBar {
        padding-inline: 5px;
    }

    .main {
        margin-top: 0px;
    }

    #search {
        margin-inline: 5px;
        padding: 2px;
    }

    .Logoimg {
        width: 50px;
        height: 50px;
        border-radius: 40px;

    }

    .account {
        display: none;
    }

    /* side bar */
    .leftmain {
        gap: 2px;

    }

    .leftmain p {
        font-size: 14px;
        padding: 3px;
        text-align: center;
    }

    .logout {
        font-size: 14px;
        padding: 10px 5px;
    }

    /* CURRENT INPUT SECTION */
    .currnetHead p:nth-child(2) {
        display: none;
    }

    .currnetHead p:nth-child(3) {
        display: none;
    }

    .currentDetails .Eachuser p:nth-child(2) {
        display: none;
    }

    .currentDetails .Eachuser p:nth-child(3) {
        display: none;
    }

    .currnetHead {
        margin-inline: 10px;
        padding: 0px;
    }

    .Eachuser {
        margin-inline: 10px;
        padding: 6px;
    }
}